usb_c_charger/fp-info-cache
usb_c_charger/~usb_c_charger.kicad_sch.lck
usb_c_charger/#auto_saved_files#
usb_c_charger/usb_c_charger-backups/
usb_c_charger/usb_c_charger.kicad_prl
usb_c_charger/~usb_c_charger.kicad_pcb.lck